<!DOCTYPE html>
<html>
<head>
	<title>test webpart Angular</title>
	<link rel="stylesheet" type="text/css" href="Bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="Bootstrap/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/theme.css">
  <link rel="stylesheet" type="text/css" href="css/style-responsive.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	 <section id="container" class="" ng-app="MyWebPart">
			  <div class="row">
				<div class="col-lg-6">
             	<div id="searchModule" ng-controller="searchController">
					<h3 class="page-header"   align="center" id="description_main">{{headerTitle}}</h3>
            <div class="input-group" >
              <span class="input-group-btn">
                <button class="btn btn-default" id="btnPrev" ng-click="previous()"  type="button"><i class="fa fa-reply" aria-hidden="true"></i></button>
              </span>
                <input type="text" class="form-control" ng-model="searchInput" ng-enter="search(searchInput)"  id="txtSearch" name="product" placeholder="Search product...">
              <span class="input-group-btn">
                <button class="btn btn-default" id="btnNext" ng-click="next()" type="button"><i class="fa fa-share" aria-hidden="true"></i>
              </span>
                </button>
              </span>
              <span class="input-group-btn">
                <button class="btn btn-default" id="btnSearch"  ng-click="search(searchInput)"><i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>  		
            </div> 
            </div>           		  	

					<!--</ol>-->
				</div>
			</div><br>
              
    <div class="row">
          <span ng-controller="infoBox" ng-show="Values.length">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="info-box blue-bg">
           <span ng-repeat="value in Values" >
               <span ng-include="'templates/infobox/infoBox.html'"></span>
           </span>
          </div><!--/.info-box-->     
        </div><!--/.col-->
           </span>

      </div><!--/.row-->
 <span ng-controller="custOrdTable">
  <span ng-include="'templates/CustordTable/CustordTable.html'" ></span>
 </span>

</section>

	<script type="text/javascript" src="js/vendor/angular.js"></script>
	<script type="text/javascript" src="Bootstrap/js/ui-bootstrap-2.0.2.js"></script>
	<script type="text/javascript" src="js/MyWebPart.js"></script>
	<script type="text/javascript" src="js/fa.js"></script>
</body>
</html>